<!DOCTYPE html>
<html>
    <head>
        <title>ROM-Stars Project Proposal</title>
        <link rel="stylesheet" href="css\styles.css"/>
    </head>
    <body>
        {{{body}}}
    </body>
</html>