<body>
    <header>
        <h2>ROM-Star's Product Proposal</h2>
    </header>

    <h3>Name:</h3>
    <ul>
        <li>Quality Studios Website</li>
    </ul>
    <h3>Members:</h3>
    <ul>
        <li>Malik</li>
        <li>Jahi</li>
        <li>Brennan</li>
        <li>Simeon</li>
    </ul>
    <h3>Application Overview:</h3>
    <ul>
        <li>This would be a website for Qulity studios barbershop in Joliet, IL. It would be the website to go to to book an appointment or find out more about the business.</li>
    </ul>
    <h3>Technology Overview:</h3>
    <ul>
        <li>Google Maps</li>
        <li>Booksy API</li>
        <li>MongoDB</li>
        <li>Azure</li>
        <li>Node.js</li>
    </ul>
    <h3>Last Updated Date:</h3>
    <ul>
        <li>11/05/21</li>
    </ul>
    <h3>Features List:</h3>
    <ul>
        <li>Hours of Operation</li>
        <li>Home Page</li>
        <li>Links to Social Media</li>
        <li>Staff directory</li>
        <li>Daily Deals/Sales</li>
        <li>Scheduling/Calendar using Booksy API</li>
        <li>Portfolio Page</li>
        <li>Pricing Page</li>
        <li>Reviews</li>
        <li>Google Maps Directions</li>
    </ul>
    <h3>Future Features List:</h3>
    <ul>
        <li>Ability to purchase hair products and accessories sold at the shop</li>
    </ul>
    <h3>Basic Technical Features List:</h3>
    <ul>
        <li>Node.js with Express Website</li>
    </ul>
    <h3>Advanced Technical Features:</h3>
    <ul>
        <li>Scheduling/Calendar using the Booksy API</li>
        <li>Google maps API to give directions</li>
        <li>MongoDB for data storage</li>
    </ul>

</body>